*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
    width: 100%;
    height: 300px;
    background-color: palevioletred; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.end{
    width: 500px;
    height: 250px;
    background-color:palevioletred;
    padding: 10px;
}
.icon2{
    font-size: 1.5em;
    border-radius: 50%;
    background-color: white;
    color: palevioletred;
    padding: 10px;
}
p{
    text-align: center;
}

.icon2:hover {
    background-color: palevioletred;
    border: 1px solid white;
    color: white;
}