
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito";
}

textarea{
    width: 96%;
    border-radius: 20px;
    padding: 2%;
    font-family: "inconsolata";
    margin-top: 2%;
    outline: none;
    border: transparent;
    background-color: #ECE6E0;
}
a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}
p{
    text-align: left;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 20px;
    color: rgb(46, 45, 45);
}
button{
    font-size: 18px;
    width: 120px;
    height: 50px;
    background-color:rgb(153, 217, 140);
    color: white;
    border-radius: 30px;
    border: transparent;
}
.contact{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-principal{
    width: 90%;
    height: 600px;
    border-radius: 20px;
    border:1px solid grey;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    padding: 25px;
    margin: 10%;
}
.container1{
    width: 50%;
    height: 100%;
    margin-left: 20px;
}
.ul-contact{
    list-style: none;
    margin: 20px;
    font-size: 20px;
    padding: 10px;
}/* los padding los puedo poner en una misma clase*/
.container2{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.subcontainer2{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.name2{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.lastname2{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.email2{
    width: 96%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.line{
    width: 100%;
    border-radius: 30px;
    padding: 2%;
    outline: none;
    border: transparent;
    margin-top: 2%;
    background-color: #ECE6E0;
}
.input-name{
    border-radius: 30px;
    width: 100%;
    padding: 4%;
    margin-top: 2%;
    outline: none;
    border: transparent;
    background-color: #ECE6E0;
}
.title{
    font-weight: 600;
    font-size: 3em;
    font-family: "Nunito";
    font-weight: 800;
    padding-bottom: 10px;
}
.m10{
    margin: 10px;
}

.flex-column{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.icon{
    color: rgb(153, 217, 140);
    background-color: transparent;
    font-size: 1em;
    padding: 10px;
    border-radius: 50%;
}
.box-1{
    width: 170px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box-2 {
    width: 155px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.box-3 {
    width: 200px;
    height: 50px;
    border: 2px solid transparent;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box-4 {
    width: 290px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


li:hover .icon{
    background-color:rgb(153, 217, 140) ;
    color: white;
}
li:hover span{
    color: rgb(153, 217, 140);
}
.box-1:active {
    box-shadow: -2px -1px 15px 0px rgb(153, 217, 140);
    border-color: 1px solid rgb(153, 217, 140)
}
.box-2:active {
    box-shadow: -2px -1px 15px 0px rgb(153, 217, 140);
    border-color: 1px solid rgb(153, 217, 140)
}
.box-3:active {
    box-shadow: -2px -1px 15px 0px rgb(153, 217, 140);
    border-color: 1px solid rgb(153, 217, 140)
}
.box-4:active {
    box-shadow: -2px -1px 15px 0px rgb(153, 217, 140);
    border-color: 1px solid rgb(153, 217, 140)
}
button:hover {
    background-color:rgb(181, 228, 140);
}
input:focus {
    box-shadow: -2px -1px 15px 0px rgb(153, 217, 140)
}
textarea:focus {
    box-shadow: -2px -1px 15px 0px rgb(153, 217, 140)
}

/*
@media screen and (max-width:600px){
    .container-principal{
        flex-direction: column;
    }
    .subcontainer2{
        flex-direction: column;
    }
    input{
        width: 480px;
    }
}
/* queda mucho  espacio al scrolear entre los dos container1 y2 */