*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito";
}
.projects{
    width: 100%;
    height: 100%;
    background-color: rgb(193,218,208);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 60px;
}

.my-projects{
    width: 70%;
    height: 30%;
    background-color:rgb(193,218,208);
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.title-section{
    font-size:3em;
    font-weight: 800;
}
.card-projects{
    width: 95%;
    height:100%;
    background-color:rgb(193,218,208);
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.cards-tp{
    width: 342px;
    height: 348px;
    border: 1px solid gray;
    border-radius: 9px;
    background-color:white;
    text-align: center; 
    margin: 10px;
    padding: 20px;
}
.img-box{
    width: 250px;
    height: 250px;
}
figcaption{
    font-size:1.5em;
    font-weight: 600;
}
.cards-tp:hover figcaption{
    color:rgb(153, 217, 140);
}
.cards-tp:hover {
    border: 2px solid rgb(153, 217, 140);
}
.cards-tp:active {
    box-shadow: -1px 0px 7px 0px rgb(153, 217, 140);
}